[submodule " simple-cms-serverless"]
	path =  simple-cms-serverless
	url = git@github.com:chi-wei-lien/simple-cms-serverless.git
[submodule "simple-cms-frontend"]
	path = simple-cms-frontend
	url = git@github.com:chi-wei-lien/simple-cms-frontend.git